In [1]:
import os
import json
import pandas as pd
import os
import numpy as np # type: ignore
from datetime import datetime
import sys

module_path = os.path.abspath(os.path.join('/Users/juanmanuelpaiba/Documents/Juan_Paiba/new_or_used_algorithm_MELI/', 'python_scripts'))
if module_path not in sys.path:
    sys.path.append(module_path)
import utilities_meli# type: ignore
#!pip install feature_engine
from feature_engine.encoding import RareLabelEncoder

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

os.getcwd()
os.chdir(path="/Users/juanmanuelpaiba/Documents/Juan_Paiba/new_or_used_algorithm_MELI")

In [3]:
# Read the Parquet files back into DataFrames
df_products = pd.read_parquet("data/Outputs/df_eda.parquet")

# Display the first few rows of the loaded DataFrames
print("Loaded Training DataFrame head:")
(df_products.head())

Loaded Training DataFrame head:

,warranty,condition,base_price,seller_id,site_id,listing_type_id,price,buying_mode,parent_item_id,category_id,last_updated,international_delivery_mode,id,official_store_id,differential_pricing,accepts_mercadopago,original_price,currency_id,title,automatic_relist,date_created,stop_time,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,sold_quantity,available_quantity,country_name,country_id,state_name,state_id,city_name,city_id,local_pick_up,free_shipping,mode,dimensions,descrip_mdo_0,id_mdo_0,type_mdo_0,season_name,gender_name,target
0,None,new,80.0,8208882349,MLA,bronze,80.0,buy_it_now,MLA6553902747,MLA126406,2015-09-05T20:42:58.000Z,none,MLA4695330653,NaN,NaN,True,NaN,ARS,Auriculares Samsung Originales Manos Libres Ca...,False,2015-09-05T20:42:53.000Z,2015-11-04 20:42:53,active,None,NaN,NaN,1,2015-09-05 20:42:53,http://articulo.mercadolibre.com.ar/MLA4695330...,0,1,Argentina,AR,Capital Federal,AR-C,San Cristóbal,TUxBQlNBTjkwNTZa,True,False,not_specified,None,Transferencia bancaria,MLATB,G,None,None,1
1,NUESTRA REPUTACION,used,2650.0,8141699488,MLA,silver,2650.0,buy_it_now,MLA7727150374,MLA10267,2015-09-26T18:08:34.000Z,none,MLA7160447179,NaN,NaN,True,NaN,ARS,Cuchillo Daga Acero Carbón Casco Yelmo Solinge...,False,2015-09-26T18:08:30.000Z,2015-11-25 18:08:30,active,None,NaN,NaN,1,2015-09-26 18:08:30,http://articulo.mercadolibre.com.ar/MLA7160447...,0,1,Argentina,AR,Capital Federal,AR-C,Buenos Aires,,True,False,me2,None,Transferencia bancaria,MLATB,G,None,None,0
2,None,used,60.0,8386096505,MLA,bronze,60.0,buy_it_now,MLA6561247998,MLA1227,2015-09-09T23:57:10.000Z,none,MLA7367189936,NaN,NaN,True,NaN,ARS,"Antigua Revista Billiken, N° 1826, Año 1954",False,2015-09-09T23:57:07.000Z,2015-11-08 23:57:07,active,None,NaN,NaN,1,2015-09-09 23:57:07,http://articulo.mercadolibre.com.ar/MLA7367189...,0,1,Argentina,AR,Capital Federal,AR-C,Boedo,TUxBQkJPRTQ0OTRa,True,False,me2,None,Transferencia bancaria,MLATB,G,None,None,0
3,None,new,580.0,5377752182,MLA,silver,580.0,buy_it_now,None,MLA86345,2015-10-05T16:03:50.306Z,none,MLA9191625553,NaN,NaN,True,NaN,ARS,Alarma Guardtex Gx412 Seguridad Para El Automo...,False,2015-09-28T18:47:56.000Z,2015-12-04 01:13:16,active,None,NaN,NaN,1,2015-09-28 18:47:56,http://articulo.mercadolibre.com.ar/MLA9191625...,0,1,Argentina,AR,Capital Federal,AR-C,Floresta,TUxBQkZMTzg5MjFa,True,False,me2,None,Transferencia bancaria,MLATB,G,None,None,1
4,MI REPUTACION.,used,30.0,2938071313,MLA,bronze,30.0,buy_it_now,MLA3133256685,MLA41287,2015-08-28T13:37:41.000Z,none,MLA7787961817,NaN,NaN,True,NaN,ARS,Serenata - Jennifer Blake,False,2015-08-24T22:07:20.000Z,2015-10-23 22:07:20,active,None,NaN,NaN,1,2015-08-24 22:07:20,http://articulo.mercadolibre.com.ar/MLA7787961...,0,1,Argentina,AR,Buenos Aires,AR-B,Tres de febrero,TUxBQ1RSRTMxODE5NA,True,False,not_specified,None,Transferencia bancaria,MLATB,G,None,None,0

In [4]:
df_products['warranty_cleaned'] = df_products['warranty'].apply(lambda x: utilities_meli.clean_warranty(x))

In [5]:
# Step 2: Apply this function to the 'title' column to create a new column 'first_two_words'
df_products['first_two_words_title'] = df_products['title'].apply(utilities_meli.extract_first_two_words)
df_products['first_word_title'] = df_products['title'].apply(utilities_meli.extract_first_word)
df_products['title_2'] = df_products['title'].apply(lambda x: utilities_meli.clean_title(x))

In [6]:
# List of rare values to replace
rare_values_to_replace = [-2147483648, 11111111, 1111111111, 8888888, 9000000, 123456789, 112111111]

# Replace rare values in 'base_price' column
df_products_00 = utilities_meli.replace_rare_values(df_products, 'base_price', rare_values_to_replace)
df_products_00 = utilities_meli.replace_rare_values(df_products_00, 'base_price', rare_values_to_replace)

In [7]:
# 'date_created' a tipo datetime
df_products_00['date_created_month'] = pd.to_datetime(df_products_00['date_created']).dt.strftime('%Y%m')

In [8]:
df_products_00['mode'].value_counts()

me2              51255
not_specified    45171
custom            3481
me1                 93
Name: mode, dtype: int64

In [9]:
df_products_00= df_products_00.drop(columns=['permalink','seller_id','warranty','condition','site_id','international_delivery_mode',
                                      'parent_item_id','last_updated','id','title','catalog_product_id',
                                      'dimensions','city_name','stop_time', 'start_time'])

In [10]:
#############################################
# Missing por cada variable
#############################################
miss_perc = (df_products_00.isnull().sum() / len(df_products_00)) * 100
print(miss_perc.sort_values(ascending=False))

differential_pricing     100.000
subtitle                 100.000
original_price            99.857
official_store_id         99.182
video_id                  97.015
gender_name               89.115
season_name               87.575
descrip_mdo_0             30.559
id_mdo_0                  30.559
type_mdo_0                30.559
local_pick_up              0.000
free_shipping              0.000
mode                       0.000
base_price                 0.000
state_id                   0.000
target                     0.000
warranty_cleaned           0.000
first_two_words_title      0.000
first_word_title           0.000
title_2                    0.000
city_id                    0.000
country_name               0.000
state_name                 0.000
country_id                 0.000
listing_type_id            0.000
available_quantity         0.000
sold_quantity              0.000
initial_quantity           0.000
status                     0.000
date_created               0.000
automatic_relist           0.000
currency_id                0.000
accepts_mercadopago        0.000
category_id                0.000
buying_mode                0.000
price                      0.000
date_created_month         0.000
dtype: float64

In [11]:
df_products_00 = df_products_00.drop(columns=['differential_pricing','original_price',
                                              'official_store_id','date_created'])

In [12]:
# Cantidad de valores nulos en cada columna
vl_nul_column = df_products_00.isnull().sum()

# Columnas que tienen valores nulos
column_nulos = vl_nul_column[vl_nul_column > 0]
print("Variables con valores nulos:")
print(column_nulos)

Variables con valores nulos:
video_id          97015
subtitle         100000
descrip_mdo_0     30559
id_mdo_0          30559
type_mdo_0        30559
season_name       87575
gender_name       89115
dtype: int64

In [13]:
col_categoricas = df_products_00.select_dtypes('object').columns
col_categoricas

Index(['listing_type_id', 'buying_mode', 'category_id', 'currency_id',
       'status', 'video_id', 'country_name', 'country_id', 'state_name',
       'state_id', 'city_id', 'mode', 'descrip_mdo_0', 'id_mdo_0',
       'type_mdo_0', 'season_name', 'gender_name', 'warranty_cleaned',
       'first_two_words_title', 'first_word_title', 'title_2',
       'date_created_month'],
      dtype='object')

In [14]:
###################################################
# Transfromo las variables añado categoria rare
###################################################
var_dummies = ['listing_type_id', 'buying_mode', 'category_id', 'currency_id',
       'status', 'video_id', 'country_name', 'country_id', 'state_name',
       'state_id', 'city_id', 'mode', 'descrip_mdo_0', 'id_mdo_0',
       'type_mdo_0', 'season_name', 'gender_name', 'warranty_cleaned',
       'first_two_words_title', 'first_word_title', 'title_2',
       'date_created_month']

# groups rare or infrequent categories in a new category called “Rare”, or any other name entered by the user
encoder = RareLabelEncoder(tol=0.03, n_categories=2, variables=var_dummies, replace_with='Rare', missing_values='ignore')

encoder.fit(df_products_00)
# transform the data
df_products_01 = encoder.transform(df_products_00)

/Users/juanmanuelpaiba/.pyenv/versions/3.8.17/lib/python3.8/site-packages/feature_engine/encoding/rare_label.py:216: UserWarning: The number of unique categories for variable currency_id is less than that indicated in n_categories. Thus, all categories will be considered frequent
  warnings.warn(
/Users/juanmanuelpaiba/.pyenv/versions/3.8.17/lib/python3.8/site-packages/feature_engine/encoding/rare_label.py:216: UserWarning: The number of unique categories for variable country_name is less than that indicated in n_categories. Thus, all categories will be considered frequent
  warnings.warn(
/Users/juanmanuelpaiba/.pyenv/versions/3.8.17/lib/python3.8/site-packages/feature_engine/encoding/rare_label.py:216: UserWarning: The number of unique categories for variable country_id is less than that indicated in n_categories. Thus, all categories will be considered frequent
  warnings.warn(

In [15]:
df_products_01.head()

,base_price,listing_type_id,price,buying_mode,category_id,accepts_mercadopago,currency_id,automatic_relist,status,video_id,subtitle,initial_quantity,sold_quantity,available_quantity,country_name,country_id,state_name,state_id,city_id,local_pick_up,free_shipping,mode,descrip_mdo_0,id_mdo_0,type_mdo_0,season_name,gender_name,target,warranty_cleaned,first_two_words_title,first_word_title,title_2,date_created_month
0,80.0,bronze,80.0,buy_it_now,Rare,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Capital Federal,AR-C,Rare,True,False,not_specified,Transferencia bancaria,MLATB,G,Rare,Rare,1,missing,Rare,Rare,otros,201509
1,2650.0,silver,2650.0,buy_it_now,Rare,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Capital Federal,AR-C,,True,False,me2,Transferencia bancaria,MLATB,G,Rare,Rare,0,otros,Rare,Rare,otros,201509
2,60.0,bronze,60.0,buy_it_now,MLA1227,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Capital Federal,AR-C,Rare,True,False,me2,Transferencia bancaria,MLATB,G,Rare,Rare,0,missing,Rare,Rare,otros,201509
3,580.0,silver,580.0,buy_it_now,Rare,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Capital Federal,AR-C,Rare,True,False,me2,Transferencia bancaria,MLATB,G,Rare,Rare,1,missing,Rare,Rare,otros,201509
4,30.0,bronze,30.0,buy_it_now,Rare,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Buenos Aires,AR-B,Rare,True,False,not_specified,Transferencia bancaria,MLATB,G,Rare,Rare,0,otros,Rare,Rare,otros,201508

In [16]:
##############################
#Validacion Manual variables
##############################
conteo_valores = df_products_01['date_created_month'].value_counts()
print(conteo_valores)

201509    48882
201510    27604
201508    22882
Rare        632
Name: date_created_month, dtype: int64

In [17]:
df_products_01.head()

,base_price,listing_type_id,price,buying_mode,category_id,accepts_mercadopago,currency_id,automatic_relist,status,video_id,subtitle,initial_quantity,sold_quantity,available_quantity,country_name,country_id,state_name,state_id,city_id,local_pick_up,free_shipping,mode,descrip_mdo_0,id_mdo_0,type_mdo_0,season_name,gender_name,target,warranty_cleaned,first_two_words_title,first_word_title,title_2,date_created_month
0,80.0,bronze,80.0,buy_it_now,Rare,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Capital Federal,AR-C,Rare,True,False,not_specified,Transferencia bancaria,MLATB,G,Rare,Rare,1,missing,Rare,Rare,otros,201509
1,2650.0,silver,2650.0,buy_it_now,Rare,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Capital Federal,AR-C,,True,False,me2,Transferencia bancaria,MLATB,G,Rare,Rare,0,otros,Rare,Rare,otros,201509
2,60.0,bronze,60.0,buy_it_now,MLA1227,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Capital Federal,AR-C,Rare,True,False,me2,Transferencia bancaria,MLATB,G,Rare,Rare,0,missing,Rare,Rare,otros,201509
3,580.0,silver,580.0,buy_it_now,Rare,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Capital Federal,AR-C,Rare,True,False,me2,Transferencia bancaria,MLATB,G,Rare,Rare,1,missing,Rare,Rare,otros,201509
4,30.0,bronze,30.0,buy_it_now,Rare,True,ARS,False,active,Rare,NaN,1,0,1,Argentina,AR,Buenos Aires,AR-B,Rare,True,False,not_specified,Transferencia bancaria,MLATB,G,Rare,Rare,0,otros,Rare,Rare,otros,201508

In [18]:
df_products_02 = utilities_meli.calculate_group_stats(df_products_01, 'mode', 'base_price')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'status', 'base_price')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'listing_type_id', 'base_price')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'state_id', 'base_price')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'automatic_relist', 'base_price')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'accepts_mercadopago', 'base_price')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'local_pick_up', 'base_price')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'free_shipping', 'base_price')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'warranty_cleaned', 'base_price')

In [19]:
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'mode', 'initial_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'status', 'initial_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'listing_type_id', 'initial_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'state_id', 'initial_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'automatic_relist', 'initial_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'accepts_mercadopago', 'initial_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'local_pick_up', 'initial_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'free_shipping', 'initial_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'warranty_cleaned', 'initial_quantity')

In [20]:
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'mode', 'sold_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'status', 'sold_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'listing_type_id', 'sold_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'state_id', 'sold_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'automatic_relist', 'sold_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'accepts_mercadopago', 'sold_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'local_pick_up', 'sold_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'free_shipping', 'sold_quantity')
df_products_02 = utilities_meli.calculate_group_stats(df_products_02, 'warranty_cleaned', 'sold_quantity')

In [21]:
###########################################
## Paso Variables Categoricas a Dummies
###########################################
df_products_02 = pd.get_dummies(df_products_02)
# Reemplazar NaN con 0
df_products_02 = df_products_02.fillna(0)
# Convertir True y False a 1 y 0
df_products_02 = df_products_02.astype(int)

In [22]:
df_products_02.head()

,base_price,price,accepts_mercadopago,automatic_relist,subtitle,initial_quantity,sold_quantity,available_quantity,local_pick_up,free_shipping,target,mean_base_price_mode,min_base_price_mode,max_base_price_mode,var_base_price_mode,median_base_price_mode,std_base_price_mode,q1_base_price_mode,q3_base_price_mode,mean_base_price_status,min_base_price_status,max_base_price_status,var_base_price_status,median_base_price_status,std_base_price_status,q1_base_price_status,q3_base_price_status,mean_base_price_listing_type_id,min_base_price_listing_type_id,max_base_price_listing_type_id,var_base_price_listing_type_id,median_base_price_listing_type_id,std_base_price_listing_type_id,q1_base_price_listing_type_id,q3_base_price_listing_type_id,mean_base_price_state_id,min_base_price_state_id,max_base_price_state_id,var_base_price_state_id,median_base_price_state_id,std_base_price_state_id,q1_base_price_state_id,q3_base_price_state_id,mean_base_price_automatic_relist,min_base_price_automatic_relist,max_base_price_automatic_relist,var_base_price_automatic_relist,median_base_price_automatic_relist,std_base_price_automatic_relist,q1_base_price_automatic_relist,q3_base_price_automatic_relist,mean_base_price_accepts_mercadopago,min_base_price_accepts_mercadopago,max_base_price_accepts_mercadopago,var_base_price_accepts_mercadopago,median_base_price_accepts_mercadopago,std_base_price_accepts_mercadopago,q1_base_price_accepts_mercadopago,q3_base_price_accepts_mercadopago,mean_base_price_local_pick_up,min_base_price_local_pick_up,max_base_price_local_pick_up,var_base_price_local_pick_up,median_base_price_local_pick_up,std_base_price_local_pick_up,q1_base_price_local_pick_up,q3_base_price_local_pick_up,mean_base_price_free_shipping,min_base_price_free_shipping,max_base_price_free_shipping,var_base_price_free_shipping,median_base_price_free_shipping,std_base_price_free_shipping,q1_base_price_free_shipping,q3_base_price_free_shipping,mean_base_price_warranty_cleaned,min_base_price_warranty_cleaned,max_base_price_warranty_cleaned,var_base_price_warranty_cleaned,median_base_price_warranty_cleaned,std_base_price_warranty_cleaned,q1_base_price_warranty_cleaned,q3_base_price_warranty_cleaned,mean_initial_quantity_mode,min_initial_quantity_mode,max_initial_quantity_mode,var_initial_quantity_mode,median_initial_quantity_mode,std_initial_quantity_mode,q1_initial_quantity_mode,q3_initial_quantity_mode,mean_initial_quantity_status,min_initial_quantity_status,max_initial_quantity_status,var_initial_quantity_status,median_initial_quantity_status,std_initial_quantity_status,q1_initial_quantity_status,q3_initial_quantity_status,mean_initial_quantity_listing_type_id,min_initial_quantity_listing_type_id,max_initial_quantity_listing_type_id,var_initial_quantity_listing_type_id,median_initial_quantity_listing_type_id,std_initial_quantity_listing_type_id,q1_initial_quantity_listing_type_id,q3_initial_quantity_listing_type_id,mean_initial_quantity_state_id,min_initial_quantity_state_id,max_initial_quantity_state_id,var_initial_quantity_state_id,median_initial_quantity_state_id,std_initial_quantity_state_id,q1_initial_quantity_state_id,q3_initial_quantity_state_id,mean_initial_quantity_automatic_relist,min_initial_quantity_automatic_relist,max_initial_quantity_automatic_relist,var_initial_quantity_automatic_relist,median_initial_quantity_automatic_relist,std_initial_quantity_automatic_relist,q1_initial_quantity_automatic_relist,q3_initial_quantity_automatic_relist,mean_initial_quantity_accepts_mercadopago,min_initial_quantity_accepts_mercadopago,max_initial_quantity_accepts_mercadopago,var_initial_quantity_accepts_mercadopago,median_initial_quantity_accepts_mercadopago,std_initial_quantity_accepts_mercadopago,q1_initial_quantity_accepts_mercadopago,q3_initial_quantity_accepts_mercadopago,mean_initial_quantity_local_pick_up,min_initial_quantity_local_pick_up,max_initial_quantity_local_pick_up,var_initial_quantity_local_pick_up,median_initial_quantity_local_pick_up,std_initial_quantity_local_pick_up,q1_initial_quantity_local_pick_up,q3_initial_quantity_local_pick_up,mean_initial_quantity_free_shipping,min_initial_quantity_free_shipping,max_initial_quantity_free_shipping,var_initial_quantity_free_shipping,median_initial_quantity_free_shipping,std_initial_quantity_free_shipping,q1_initial_quantity_free_shipping,q3_initial_quantity_free_shipping,mean_initial_quantity_warranty_cleaned,min_initial_quantity_warranty_cleaned,max_initial_quantity_warranty_cleaned,var_initial_quantity_warranty_cleaned,median_initial_quantity_warranty_cleaned,std_initial_quantity_warranty_cleaned,q1_initial_quantity_warranty_cleaned,q3_initial_quantity_warranty_cleaned,mean_sold_quantity_mode,min_sold_quantity_mode,max_sold_quantity_mode,var_sold_quantity_mode,median_sold_quantity_mode,std_sold_quantity_mode,q1_sold_quantity_mode,q3_sold_quantity_mode,mean_sold_quantity_status,min_sold_quantity_status,max_sold_quantity_status,var_sold_quantity_status,median_sold_quantity_status,std_sold_quantity_status,q1_sold_quantity_status,q3_sold_quantity_status,mean_sold_quantity_listing_type_id,min_sold_quantity_listing_type_id,max_sold_quantity_listing_type_id,var_sold_quantity_listing_type_id,median_sold_quantity_listing_type_id,std_sold_quantity_listing_type_id,q1_sold_quantity_listing_type_id,q3_sold_quantity_listing_type_id,mean_sold_quantity_state_id,min_sold_quantity_state_id,max_sold_quantity_state_id,var_sold_quantity_state_id,median_sold_quantity_state_id,std_sold_quantity_state_id,q1_sold_quantity_state_id,q3_sold_quantity_state_id,mean_sold_quantity_automatic_relist,min_sold_quantity_automatic_relist,max_sold_quantity_automatic_relist,var_sold_quantity_automatic_relist,median_sold_quantity_automatic_relist,std_sold_quantity_automatic_relist,q1_sold_quantity_automatic_relist,q3_sold_quantity_automatic_relist,mean_sold_quantity_accepts_mercadopago,min_sold_quantity_accepts_mercadopago,max_sold_quantity_accepts_mercadopago,var_sold_quantity_accepts_mercadopago,median_sold_quantity_accepts_mercadopago,std_sold_quantity_accepts_mercadopago,q1_sold_quantity_accepts_mercadopago,q3_sold_quantity_accepts_mercadopago,mean_sold_quantity_local_pick_up,min_sold_quantity_local_pick_up,max_sold_quantity_local_pick_up,var_sold_quantity_local_pick_up,median_sold_quantity_local_pick_up,std_sold_quantity_local_pick_up,q1_sold_quantity_local_pick_up,q3_sold_quantity_local_pick_up,mean_sold_quantity_free_shipping,min_sold_quantity_free_shipping,max_sold_quantity_free_shipping,var_sold_quantity_free_shipping,median_sold_quantity_free_shipping,std_sold_quantity_free_shipping,q1_sold_quantity_free_shipping,q3_sold_quantity_free_shipping,mean_sold_quantity_warranty_cleaned,min_sold_quantity_warranty_cleaned,max_sold_quantity_warranty_cleaned,var_sold_quantity_warranty_cleaned,median_sold_quantity_warranty_cleaned,std_sold_quantity_warranty_cleaned,q1_sold_quantity_warranty_cleaned,q3_sold_quantity_warranty_cleaned,listing_type_id_Rare,listing_type_id_bronze,listing_type_id_free,listing_type_id_gold_special,listing_type_id_silver,buying_mode_Rare,buying_mode_buy_it_now,category_id_MLA1227,category_id_Rare,currency_id_ARS,currency_id_USD,status_Rare,status_active,status_paused,video_id_QQNfOicE_o8,video_id_Rare,country_name_,country_name_Argentina,country_id_,country_id_AR,state_name_Buenos Aires,state_name_Capital Federal,state_name_Rare,state_id_AR-B,state_id_AR-C,state_id_Rare,city_id_,city_id_Rare,city_id_TUxBQlBBTDI1MTVa,mode_Rare,mode_custom,mode_me2,mode_not_specified,descrip_mdo_0_Efectivo,descrip_mdo_0_Rare,descrip_mdo_0_Transferencia bancaria,id_mdo_0_MLAMO,id_mdo_0_MLATB,id_mdo_0_Rare,type_mdo_0_G,type_mdo_0_Rare,season_name_,season_name_All-Season,season_name_Hombre,season_name_Mujer,season_name_Niñas,season_name_Niños,season_name_Rare,gender_name_,gender_name_All-Season,gender_name_Autumn-Winter,gender_name_Rare,gender_name_Spring-Summer,warranty_cleaned_12 meses,warranty_cleaned_Rare,warranty_cleaned_missing,warranty_cleaned_otros,warranty_cleaned_si,warranty_cleaned_sin garantía,first_two_words_title_Rare,first_word_title_Rare,title_2_Rare,title_2_new,title_2_otros,date_created_month_201508,date_created_month_201509,date_created_month_201510,date_created_month_Rare
0,80,80,1,0,0,1,0,1,1,0,1,59757,1,2222222222,109329072070789,350,10456054,100,1500,5174,0,6500000,2879725527,250,53663,90,800,36286,0,2222222222,78174286476326,198,8841622,80,570,3422,0,5330000,2192546357,200,46824,80,600,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,7704,0,6500000,4583176184,265,67699,100,890,27,1,9999,106143,1,325,1,1,34,1,9999,174780,1,418,1,2,33,1,9999,139594,1,373,1,3,43,1,9999,231224,1,480,1,3,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,18,1,9999,43605,1,208,1,1,1,0,2606,716,0,26,0,0,2,0,8676,1872,0,43,0,0,0,0,418,20,0,4,0,0,2,0,8676,2829,0,53,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,1,0,8676,1839,0,42,0,0,0,1,0,0,0,0,1,0,1,1,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0
1,2650,2650,1,0,0,1,0,1,1,0,0,740,0,239999,9144042,199,3023,82,508,5174,0,6500000,2879725527,250,53663,90,800,28727,1,6500000,21082242084,525,145197,200,1999,3422,0,5330000,2192546357,200,46824,80,600,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,984,1,1000000,82512652,199,9083,79,589,41,1,9999,231641,1,481,1,3,34,1,9999,174780,1,418,1,2,23,1,9999,156604,1,395,1,4,43,1,9999,231224,1,480,1,3,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,48,1,9999,249118,1,499,1,4,2,0,8676,2768,0,52,0,0,2,0,8676,1872,0,43,0,0,7,0,8676,8981,0,94,0,3,2,0,8676,2829,0,53,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,3,0,1373,637,0,25,0,0,0,0,0,0,1,0,1,0,1,1,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,0,1,0,0
2,60,60,1,0,0,1,0,1,1,0,0,740,0,239999,9144042,199,3023,82,508,5174,0,6500000,2879725527,250,53663,90,800,36286,0,2222222222,78174286476326,198,8841622,80,570,3422,0,5330000,2192546357,200,46824,80,600,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,7704,0,6500000,4583176184,265,67699,100,890,41,1,9999,231641,1,481,1,3,34,1,9999,174780,1,418,1,2,33,1,9999,139594,1,373,1,3,43,1,9999,231224,1,480,1,3,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,18,1,9999,43605,1,208,1,1,2,0,8676,2768,0,52,0,0,2,0,8676,1872,0,43,0,0,0,0,418,20,0,4,0,0,2,0,8676,2829,0,53,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,1,0,8676,1839,0,42,0,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0
3,580,580,1,0,0,1,0,1,1,0,1,740,0,239999,9144042,199,3023,82,508,5174,0,6500000,2879725527,250,53663,90,800,28727,1,6500000,21082242084,525,145197,200,1999,3422,0,5330000,2192546357,200,46824,80,600,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,7704,0,6500000,4583176184,265,67699,100,890,41,1,9999,231641,1,481,1,3,34,1,9999,174780,1,418,1,2,23,1,9999,156604,1,395,1,4,43,1,9999,231224,1,480,1,3,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,18,1,9999,43605,1,208,1,1,2,0,8676,2768,0,52,0,0,2,0,8676,1872,0,43,0,0,7,0,8676,8981,0,94,0,3,2,0,8676,2829,0,53,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,1,0,8676,1839,0,42,0,0,0,0,0,0,1,0,1,0,1,1,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0
4,30,30,1,0,0,1,0,1,1,0,0,59757,1,2222222222,109329072070789,350,10456054,100,1500,5174,0,6500000,2879725527,250,53663,90,800,36286,0,2222222222,78174286476326,198,8841622,80,570,71170,1,2222222222,141043796917680,310,11876186,100,1099,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,984,1,1000000,82512652,199,9083,79,589,27,1,9999,106143,1,325,1,1,34,1,9999,174780,1,418,1,2,33,1,9999,139594,1,373,1,3,25,1,9999,111688,1,334,1,2,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,48,1,9999,249118,1,499,1,4,1,0,2606,716,0,26,0,0,2,0,8676,1872,0,43,0,0,0,0,418,20,0,4,0,0,1,0,2606,495,0,22,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,3,0,1373,637,0,25,0,0,0,1,0,0,0,0,1,0,1,1,0,0,1,0,0,1,0,1,0,1,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,1,0,0,0

In [23]:
df_products_02 = utilities_meli.create_transformed_columns(df_products_02,'price')
df_products_02 = utilities_meli.create_transformed_columns(df_products_02,'initial_quantity')
df_products_02 = utilities_meli.create_transformed_columns(df_products_02,'sold_quantity')

/Users/juanmanuelpaiba/.pyenv/versions/3.8.17/lib/python3.8/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in arcsin
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/juanmanuelpaiba/.pyenv/versions/3.8.17/lib/python3.8/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in arcsin
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/juanmanuelpaiba/.pyenv/versions/3.8.17/lib/python3.8/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in arcsin
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/juanmanuelpaiba/.pyenv/versions/3.8.17/lib/python3.8/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in arcsin
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/juanmanuelpaiba/.pyenv/versions/3.8.17/lib/python3.8/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in arcsin
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/juanmanuelpaiba/.pyenv/versions/3.8.17/lib/python3.8/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in arcsin
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [24]:
df_products_02['price_x_initial_quantity'] = df_products_02['price']*df_products_02['initial_quantity']
df_products_02['price_x_sold_quantity'] = df_products_02['price']*df_products_02['sold_quantity']
df_products_02['price_2_x_sold_quantity'] = df_products_02['price_square']*df_products_02['sold_quantity']

In [25]:
df_products_02.to_parquet("data/Outputs/df_modelling.parquet")

In [26]:
df_products_02.head()

,base_price,price,accepts_mercadopago,automatic_relist,subtitle,initial_quantity,sold_quantity,available_quantity,local_pick_up,free_shipping,target,mean_base_price_mode,min_base_price_mode,max_base_price_mode,var_base_price_mode,median_base_price_mode,std_base_price_mode,q1_base_price_mode,q3_base_price_mode,mean_base_price_status,min_base_price_status,max_base_price_status,var_base_price_status,median_base_price_status,std_base_price_status,q1_base_price_status,q3_base_price_status,mean_base_price_listing_type_id,min_base_price_listing_type_id,max_base_price_listing_type_id,var_base_price_listing_type_id,median_base_price_listing_type_id,std_base_price_listing_type_id,q1_base_price_listing_type_id,q3_base_price_listing_type_id,mean_base_price_state_id,min_base_price_state_id,max_base_price_state_id,var_base_price_state_id,median_base_price_state_id,std_base_price_state_id,q1_base_price_state_id,q3_base_price_state_id,mean_base_price_automatic_relist,min_base_price_automatic_relist,max_base_price_automatic_relist,var_base_price_automatic_relist,median_base_price_automatic_relist,std_base_price_automatic_relist,q1_base_price_automatic_relist,q3_base_price_automatic_relist,mean_base_price_accepts_mercadopago,min_base_price_accepts_mercadopago,max_base_price_accepts_mercadopago,var_base_price_accepts_mercadopago,median_base_price_accepts_mercadopago,std_base_price_accepts_mercadopago,q1_base_price_accepts_mercadopago,q3_base_price_accepts_mercadopago,mean_base_price_local_pick_up,min_base_price_local_pick_up,max_base_price_local_pick_up,var_base_price_local_pick_up,median_base_price_local_pick_up,std_base_price_local_pick_up,q1_base_price_local_pick_up,q3_base_price_local_pick_up,mean_base_price_free_shipping,min_base_price_free_shipping,max_base_price_free_shipping,var_base_price_free_shipping,median_base_price_free_shipping,std_base_price_free_shipping,q1_base_price_free_shipping,q3_base_price_free_shipping,mean_base_price_warranty_cleaned,min_base_price_warranty_cleaned,max_base_price_warranty_cleaned,var_base_price_warranty_cleaned,median_base_price_warranty_cleaned,std_base_price_warranty_cleaned,q1_base_price_warranty_cleaned,q3_base_price_warranty_cleaned,mean_initial_quantity_mode,min_initial_quantity_mode,max_initial_quantity_mode,var_initial_quantity_mode,median_initial_quantity_mode,std_initial_quantity_mode,q1_initial_quantity_mode,q3_initial_quantity_mode,mean_initial_quantity_status,min_initial_quantity_status,max_initial_quantity_status,var_initial_quantity_status,median_initial_quantity_status,std_initial_quantity_status,q1_initial_quantity_status,q3_initial_quantity_status,mean_initial_quantity_listing_type_id,min_initial_quantity_listing_type_id,max_initial_quantity_listing_type_id,var_initial_quantity_listing_type_id,median_initial_quantity_listing_type_id,std_initial_quantity_listing_type_id,q1_initial_quantity_listing_type_id,q3_initial_quantity_listing_type_id,mean_initial_quantity_state_id,min_initial_quantity_state_id,max_initial_quantity_state_id,var_initial_quantity_state_id,median_initial_quantity_state_id,std_initial_quantity_state_id,q1_initial_quantity_state_id,q3_initial_quantity_state_id,mean_initial_quantity_automatic_relist,min_initial_quantity_automatic_relist,max_initial_quantity_automatic_relist,var_initial_quantity_automatic_relist,median_initial_quantity_automatic_relist,std_initial_quantity_automatic_relist,q1_initial_quantity_automatic_relist,q3_initial_quantity_automatic_relist,mean_initial_quantity_accepts_mercadopago,min_initial_quantity_accepts_mercadopago,max_initial_quantity_accepts_mercadopago,var_initial_quantity_accepts_mercadopago,median_initial_quantity_accepts_mercadopago,std_initial_quantity_accepts_mercadopago,q1_initial_quantity_accepts_mercadopago,q3_initial_quantity_accepts_mercadopago,mean_initial_quantity_local_pick_up,min_initial_quantity_local_pick_up,max_initial_quantity_local_pick_up,var_initial_quantity_local_pick_up,median_initial_quantity_local_pick_up,std_initial_quantity_local_pick_up,q1_initial_quantity_local_pick_up,q3_initial_quantity_local_pick_up,mean_initial_quantity_free_shipping,min_initial_quantity_free_shipping,max_initial_quantity_free_shipping,var_initial_quantity_free_shipping,median_initial_quantity_free_shipping,std_initial_quantity_free_shipping,q1_initial_quantity_free_shipping,q3_initial_quantity_free_shipping,mean_initial_quantity_warranty_cleaned,min_initial_quantity_warranty_cleaned,max_initial_quantity_warranty_cleaned,var_initial_quantity_warranty_cleaned,median_initial_quantity_warranty_cleaned,std_initial_quantity_warranty_cleaned,q1_initial_quantity_warranty_cleaned,q3_initial_quantity_warranty_cleaned,mean_sold_quantity_mode,min_sold_quantity_mode,max_sold_quantity_mode,var_sold_quantity_mode,median_sold_quantity_mode,std_sold_quantity_mode,q1_sold_quantity_mode,q3_sold_quantity_mode,mean_sold_quantity_status,min_sold_quantity_status,max_sold_quantity_status,var_sold_quantity_status,median_sold_quantity_status,std_sold_quantity_status,q1_sold_quantity_status,q3_sold_quantity_status,mean_sold_quantity_listing_type_id,min_sold_quantity_listing_type_id,max_sold_quantity_listing_type_id,var_sold_quantity_listing_type_id,median_sold_quantity_listing_type_id,std_sold_quantity_listing_type_id,q1_sold_quantity_listing_type_id,q3_sold_quantity_listing_type_id,mean_sold_quantity_state_id,min_sold_quantity_state_id,max_sold_quantity_state_id,var_sold_quantity_state_id,median_sold_quantity_state_id,std_sold_quantity_state_id,q1_sold_quantity_state_id,q3_sold_quantity_state_id,mean_sold_quantity_automatic_relist,min_sold_quantity_automatic_relist,max_sold_quantity_automatic_relist,var_sold_quantity_automatic_relist,median_sold_quantity_automatic_relist,std_sold_quantity_automatic_relist,q1_sold_quantity_automatic_relist,q3_sold_quantity_automatic_relist,mean_sold_quantity_accepts_mercadopago,min_sold_quantity_accepts_mercadopago,max_sold_quantity_accepts_mercadopago,var_sold_quantity_accepts_mercadopago,median_sold_quantity_accepts_mercadopago,std_sold_quantity_accepts_mercadopago,q1_sold_quantity_accepts_mercadopago,q3_sold_quantity_accepts_mercadopago,mean_sold_quantity_local_pick_up,min_sold_quantity_local_pick_up,max_sold_quantity_local_pick_up,var_sold_quantity_local_pick_up,median_sold_quantity_local_pick_up,std_sold_quantity_local_pick_up,q1_sold_quantity_local_pick_up,q3_sold_quantity_local_pick_up,mean_sold_quantity_free_shipping,min_sold_quantity_free_shipping,max_sold_quantity_free_shipping,var_sold_quantity_free_shipping,median_sold_quantity_free_shipping,std_sold_quantity_free_shipping,q1_sold_quantity_free_shipping,q3_sold_quantity_free_shipping,mean_sold_quantity_warranty_cleaned,min_sold_quantity_warranty_cleaned,max_sold_quantity_warranty_cleaned,var_sold_quantity_warranty_cleaned,median_sold_quantity_warranty_cleaned,std_sold_quantity_warranty_cleaned,q1_sold_quantity_warranty_cleaned,q3_sold_quantity_warranty_cleaned,listing_type_id_Rare,listing_type_id_bronze,listing_type_id_free,listing_type_id_gold_special,listing_type_id_silver,buying_mode_Rare,buying_mode_buy_it_now,category_id_MLA1227,category_id_Rare,currency_id_ARS,currency_id_USD,status_Rare,status_active,status_paused,video_id_QQNfOicE_o8,video_id_Rare,country_name_,country_name_Argentina,country_id_,country_id_AR,state_name_Buenos Aires,state_name_Capital Federal,state_name_Rare,state_id_AR-B,state_id_AR-C,state_id_Rare,city_id_,city_id_Rare,city_id_TUxBQlBBTDI1MTVa,mode_Rare,mode_custom,mode_me2,mode_not_specified,descrip_mdo_0_Efectivo,descrip_mdo_0_Rare,descrip_mdo_0_Transferencia bancaria,id_mdo_0_MLAMO,id_mdo_0_MLATB,id_mdo_0_Rare,type_mdo_0_G,type_mdo_0_Rare,season_name_,season_name_All-Season,season_name_Hombre,season_name_Mujer,season_name_Niñas,season_name_Niños,season_name_Rare,gender_name_,gender_name_All-Season,gender_name_Autumn-Winter,gender_name_Rare,gender_name_Spring-Summer,warranty_cleaned_12 meses,warranty_cleaned_Rare,warranty_cleaned_missing,warranty_cleaned_otros,warranty_cleaned_si,warranty_cleaned_sin garantía,first_two_words_title_Rare,first_word_title_Rare,title_2_Rare,title_2_new,title_2_otros,date_created_month_201508,date_created_month_201509,date_created_month_201510,date_created_month_Rare,price_square,price_cube,price_fourth,price_sqrt,price_log,price_reciprocal,price_tanh,price_inverse_sqrt,price_yeojohnson,price_bin,price_sigmoid,price_arcsin,initial_quantity_square,initial_quantity_cube,initial_quantity_fourth,initial_quantity_sqrt,initial_quantity_log,initial_quantity_reciprocal,initial_quantity_tanh,initial_quantity_inverse_sqrt,initial_quantity_boxcox,initial_quantity_yeojohnson,initial_quantity_bin,initial_quantity_sigmoid,initial_quantity_arcsin,sold_quantity_square,sold_quantity_cube,sold_quantity_fourth,sold_quantity_sqrt,sold_quantity_log,sold_quantity_reciprocal,sold_quantity_tanh,sold_quantity_inverse_sqrt,sold_quantity_yeojohnson,sold_quantity_bin,sold_quantity_sigmoid,sold_quantity_arcsin,price_x_initial_quantity,price_x_sold_quantity,price_2_x_sold_quantity
0,80,80,1,0,0,1,0,1,1,0,1,59757,1,2222222222,109329072070789,350,10456054,100,1500,5174,0,6500000,2879725527,250,53663,90,800,36286,0,2222222222,78174286476326,198,8841622,80,570,3422,0,5330000,2192546357,200,46824,80,600,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,7704,0,6500000,4583176184,265,67699,100,890,27,1,9999,106143,1,325,1,1,34,1,9999,174780,1,418,1,2,33,1,9999,139594,1,373,1,3,43,1,9999,231224,1,480,1,3,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,18,1,9999,43605,1,208,1,1,1,0,2606,716,0,26,0,0,2,0,8676,1872,0,43,0,0,0,0,418,20,0,4,0,0,2,0,8676,2829,0,53,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,1,0,8676,1839,0,42,0,0,0,1,0,0,0,0,1,0,1,1,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0,6400,512000,40960000,8.944272,4.382027,0.012500,1.0,0.111803,-0.808893,0,1.0,NaN,1,1,1,1.0,0.0,1.0,0.761594,1.0,0.0,-0.624563,0,0.731059,1.570796,0,0,0,0.0,NaN,0.0,0.0,0.0,-0.450705,0,0.5,0.0,80,0,0
1,2650,2650,1,0,0,1,0,1,1,0,0,740,0,239999,9144042,199,3023,82,508,5174,0,6500000,2879725527,250,53663,90,800,28727,1,6500000,21082242084,525,145197,200,1999,3422,0,5330000,2192546357,200,46824,80,600,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,984,1,1000000,82512652,199,9083,79,589,41,1,9999,231641,1,481,1,3,34,1,9999,174780,1,418,1,2,23,1,9999,156604,1,395,1,4,43,1,9999,231224,1,480,1,3,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,48,1,9999,249118,1,499,1,4,2,0,8676,2768,0,52,0,0,2,0,8676,1872,0,43,0,0,7,0,8676,8981,0,94,0,3,2,0,8676,2829,0,53,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,3,0,1373,637,0,25,0,0,0,0,0,0,1,0,1,0,1,1,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,0,1,0,0,7022500,18609625000,49315506250000,51.478151,7.882315,0.000377,1.0,0.019426,1.235938,0,1.0,NaN,1,1,1,1.0,0.0,1.0,0.761594,1.0,0.0,-0.624563,0,0.731059,1.570796,0,0,0,0.0,NaN,0.0,0.0,0.0,-0.450705,0,0.5,0.0,2650,0,0
2,60,60,1,0,0,1,0,1,1,0,0,740,0,239999,9144042,199,3023,82,508,5174,0,6500000,2879725527,250,53663,90,800,36286,0,2222222222,78174286476326,198,8841622,80,570,3422,0,5330000,2192546357,200,46824,80,600,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,7704,0,6500000,4583176184,265,67699,100,890,41,1,9999,231641,1,481,1,3,34,1,9999,174780,1,418,1,2,33,1,9999,139594,1,373,1,3,43,1,9999,231224,1,480,1,3,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,18,1,9999,43605,1,208,1,1,2,0,8676,2768,0,52,0,0,2,0,8676,1872,0,43,0,0,0,0,418,20,0,4,0,0,2,0,8676,2829,0,53,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,1,0,8676,1839,0,42,0,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0,3600,216000,12960000,7.745967,4.094345,0.016667,1.0,0.129099,-1.035778,0,1.0,NaN,1,1,1,1.0,0.0,1.0,0.761594,1.0,0.0,-0.624563,0,0.731059,1.570796,0,0,0,0.0,NaN,0.0,0.0,0.0,-0.450705,0,0.5,0.0,60,0,0
3,580,580,1,0,0,1,0,1,1,0,1,740,0,239999,9144042,199,3023,82,508,5174,0,6500000,2879725527,250,53663,90,800,28727,1,6500000,21082242084,525,145197,200,1999,3422,0,5330000,2192546357,200,46824,80,600,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,7704,0,6500000,4583176184,265,67699,100,890,41,1,9999,231641,1,481,1,3,34,1,9999,174780,1,418,1,2,23,1,9999,156604,1,395,1,4,43,1,9999,231224,1,480,1,3,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,18,1,9999,43605,1,208,1,1,2,0,8676,2768,0,52,0,0,2,0,8676,1872,0,43,0,0,7,0,8676,8981,0,94,0,3,2,0,8676,2829,0,53,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,1,0,8676,1839,0,42,0,0,0,0,0,0,1,0,1,0,1,1,0,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,1,0,1,0,0,336400,195112000,113164960000,24.083189,6.363028,0.001724,1.0,0.041523,0.494595,0,1.0,NaN,1,1,1,1.0,0.0,1.0,0.761594,1.0,0.0,-0.624563,0,0.731059,1.570796,0,0,0,0.0,NaN,0.0,0.0,0.0,-0.450705,0,0.5,0.0,580,0,0
4,30,30,1,0,0,1,0,1,1,0,0,59757,1,2222222222,109329072070789,350,10456054,100,1500,5174,0,6500000,2879725527,250,53663,90,800,36286,0,2222222222,78174286476326,198,8841622,80,570,71170,1,2222222222,141043796917680,310,11876186,100,1099,28707,0,2222222222,51819250992331,240,7198558,90,790,24059,0,2222222222,50503409723708,240,7106575,90,750,29267,0,2222222222,62068994884541,249,7878387,95,760,28213,0,2222222222,50921086046018,239,7135901,90,780,984,1,1000000,82512652,199,9083,79,589,27,1,9999,106143,1,325,1,1,34,1,9999,174780,1,418,1,2,33,1,9999,139594,1,373,1,3,25,1,9999,111688,1,334,1,2,29,1,9999,143619,1,378,1,2,35,1,9999,181301,1,425,1,3,36,1,9999,203978,1,451,1,3,31,1,9999,152024,1,389,1,2,48,1,9999,249118,1,499,1,4,1,0,2606,716,0,26,0,0,2,0,8676,1872,0,43,0,0,0,0,418,20,0,4,0,0,1,0,2606,495,0,22,0,0,2,0,8676,1689,0,41,0,0,2,0,8676,1863,0,43,0,0,2,0,8676,2148,0,46,0,0,2,0,8676,1839,0,42,0,0,3,0,1373,637,0,25,0,0,0,1,0,0,0,0,1,0,1,1,0,0,1,0,0,1,0,1,0,1,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,1,0,0,0,900,27000,810000,5.477226,3.401197,0.033333,1.0,0.182574,-1.624506,0,1.0,NaN,1,1,1,1.0,0.0,1.0,0.761594,1.0,0.0,-0.624563,0,0.731059,1.570796,0,0,0,0.0,NaN,0.0,0.0,0.0,-0.450705,0,0.5,0.0,30,0,0